<div class="container d-flex">
  <div class="row">
    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title">MediaMorph</h5>
        <p class="card-text">
          Mediamorph’s mission is to boost business performance and accelerate
          content value across the entertainment ecosystem.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container d-flex">
    <div class="row">
      <div class="card m-4">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <p class="card-text">
            <span>Digital Entertainment</span><br>
            <span>Enterprise Software</span><br>
            <span>Media Entertainment</span><br>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
